body {
	background: #f9f4f0;
	color: #152d3d;
  font-family: 'Montserrat', sans-serif;
}

::selection {
  color: #f9f4f0;
  background: #aa9c8b;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Charmonman', cursive;
  font-width: 400;
}

h1 {
  font-size: 50px;
  font-width: 700 !important;
  padding: 25px 0 5px;
  text-shadow:
    -1px -1px 0 #aa9c8b,
    1px -1px 0 #aa9c8b,
    -1px 1px 0 #aa9c8b,
    1px 1px 0 #aa9c8b;
}

h5 {
  color: #aa9c8b;
  padding-top: 8px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

header img {
  height: 100%;
  object-fit: cover;
}

header {
  background: #152d3d;
  color: #f9f7f6;
  margin: 0 0 -3px;
}

.header-line {
  border-top: 1px groove #aa9c8b;
  margin: 110px 0;
}

nav {
  background: #78858d;
  border-bottom: 4px solid #aa9c8b;
  border-top: 2px solid #aa9c8b;
}

.nav-item {
  border-left: 2px ridge #7f878e;
  font-size: 1.15rem;
  padding: 0 10px 0;
  text-align: left;
}

.sub-nav-item {
  border-left: 1px ridge #aa9c8b;
  font-size: .95rem;
  margin: 0 0 0 20px;
}

.sub-nav-item .nav-link {
  color: #15486a;
}

.navbar-brand {
  padding: 0 10px !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
  content: none !important;
  height: 75px !important;
  width: 100px !important;
}

.nav-link {
  color: #102b3d;
  font-weight: 600;
  padding: 0.5rem !important;
}

.nav-link:hover {
  color: #aa9c8b;
}

.active a {
  color: #f9f7f6;
}

.active a:hover {
  color: #aa9c8b;
}

/*
bootstrap's breakpoints:
  xs is less than 576px
  sm: (min-width: 576px)
  md: (min-width: 768px)
  lg: (min-width: 992px)
  xl: (min-width: 1200px)
*/

@media (min-width: 768px) {
  .navbar {
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .leftmost-item {
    border-left: none;
  }
  
  .nav-item {
    text-align: center;
  }
  
  .sub-nav-item {
    margin: 3px 0 0 0;
  }
  
  #serviceDetails li {
    float: left;
  }
}
