body {
	background: #f9f4f0;
	color: #152d3d;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

::selection {
  color: #f9f4f0;
  background: #aa9c8b;
}

h1, h2, h3, h4, h5 {
	font-family: 'Charmonman', cursive;
  font-weight: 400;
}

h1 {
  font-size: 50px;
  font-weight: 700 !important;
  padding: 15px 0 5px;
  text-shadow:
    -1px -1px 0 #aa9c8b,
    1px -1px 0 #aa9c8b,
    -1px 1px 0 #aa9c8b,
    1px 1px 0 #aa9c8b;
}

h3 {
  font-size: 25px;
}

h5 {
  color: #aa9c8b;
  padding-top: 8px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

header img {
  height: 100%;
  max-height: 275px;
  object-fit: cover;
  width: 100%;
}

header {
  background: #152d3d;
  color: #f9f7f6;
  margin: 0 0 -3px;
  max-height: 450px;
}

.header-line {
  border-top: 1px groove #aa9c8b;
  margin: 100px 0;
}

nav {
  background: #78858d;
  border-top: 2px solid #aa9c8b;
  box-shadow: 0 4px 3px #aa9c8b, 0 5px 1px #5f513f;
}

.nav-item {
  border-left: 2px ridge #7f878e;
  font-size: 1.15rem;
  padding: 0 10px 0;
  text-align: left;
}

.sub-nav-item {
  border-left: 1px ridge #aa9c8b;
  font-size: .95rem;
  margin: 0 0 0 20px;
}

.sub-nav-item .nav-link {
  color: #15486a;
}

.navbar-brand {
  padding: 0 10px !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
  content: none !important;
  height: 75px !important;
  width: 100px !important;
}

.nav-link {
  color: #102b3d;
  font-weight: 600;
  padding: 0.5rem !important;
}

.nav-link:hover {
  color: #aa9c8b;
}

.active a {
  color: #f9f7f6;
}

.active a:hover {
  color: #aa9c8b;
}

/*
bootstrap's breakpoints:
  xs is less than 576px
  sm: (min-width: 576px)
  md: (min-width: 768px)
  lg: (min-width: 992px)
  xl: (min-width: 1200px)
*/

@media (min-width: 576px) {
  header img {
    max-height: 275px;
  }

  header {
    max-height: 275px;
  }
  
  h1 {
    padding: 25px 0 5px;
  }
  
  main {
    width: 92% !important;
  }

  .header-line {
    margin: 110px 0;
  }
}

@media (min-width: 768px) {
  .navbar {
    -ms-flex-pack: center;
    justify-content: center;
  }

  #avail-cont {
    margin: 0;
    width: 90%;
  }
  
  .avail-element {
    margin: 0 auto;
    text-align: right;
    white-space: nowrap;
    width: 100%
  }
  
  main {
    width: 80% !important;
  }
}

@media (min-width: 992px) {
  .leftmost-item {
    border-left: none;
  }
  
  .nav-item {
    text-align: center;
  }
  
  .sub-nav-item {
    margin: 3px 0 0 0;
  }
  
  #serviceDetails li {
    float: left;
  }
  
  main {
    width: 70% !important;
  }
}

@media (min-width: 1200px) {
  main {
    width: 65% !important;
  }
}

main {
  background: #f9f7f6;
  box-shadow: 3px 0 5px #5f513f, -3px 0 5px #5f513f;
  margin: 0 auto;
  padding: 20px 15px 10px 15px;
  text-align: justify;
  width: 96%;
}

main h2 {
  font-weight: 700;
  margin: 15px 0;
  text-align: center;
  text-shadow:
    -1px 1px 0 #78858d,
    1px 1px 0 #78858d;
}

form {
  background: #aa9c8b;
  border: 3px ridge #78858d;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 10px;
  width: 96%;
}

form .large-label {
  color: #15486a;
  display: block;
  font-weight: 600;
  margin: 10px 0 3px 0px;
}

h6.large-label {
  margin: 0 0 4px 0;
}

.form-element {
  padding: 10px 0;
}

.avail-element {
  margin: 0 auto;
  white-space: nowrap;
  width: 100%
}

.avail-label {
  font-size: 16px;
  line-height: 20px;
  margin: 5px 0 0 0;
}

#avail-cont {
  margin: 5%;
  width: 90%;
}

form input, textarea, select {
  background: #fbfaf9;
  border: 1px solid #78858d;
  border-radius: 3px;
  padding: 3px 0 3px 10px;
  width: 90%;
}

.avail-element select {
  height: 25px;
  font-size: 15px;
  margin: 3px 0;
  padding: 2px 0 0 10px;
}

form textarea {
  height: 150px;
  resize: none;
}

.btn-info {
  background: #78858d;
}

.warning {
  background: #152d3d;
  color: #ad361f;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: 30px;
  width: 100%;
}

.hidden {
  height: 0;
  visibility: hidden;
  width: 0;
}

#testimonials {
  list-style-type: none;
  padding-left: 0;
}

.testimonial {
  border-bottom: 3px solid #152d3d;
  margin: 0 auto;
  padding: 20px 0;
  width: 96%;
}

.testimonial h6 {
  font-style: italic;
  font-weight: 600;
  margin: 2px 10px 2px 0;
  text-align: right;
}

.top-bit {
  border-bottom: 3px groove #aa9c8b;
  margin: 0 auto;
  width: 94%;
}

section {
  border-left: 2px groove #aa9c8b;
  margin: 10px 0;
  padding: 15px 0;
}

section h4 {
  font-weight: 700;
}

section p {
  color: #3b474f;
  text-align: left;
  padding: 5px 15px;
}

main a {
  color: #aa9c8b;
  font-weight: 600;
  text-decoration: underline;
}

p a:hover {
  color: #78858d;
}

.legal-section {
  border: none !important;
  margin: 5px auto;
  text-align: left;
  width: 90%;
}

.legal-section h6 {
  font-weight: 600;
  margin: 0 0 5px 0;
}

.policy-list {
  list-style-type: upper-roman;
}

.policy-list li {
  margin: 7px 0;
  padding: 0 7px;
}

.policy-sublist {
  list-style-type: lower-alpha;
}

footer {
  background: #152d3d;
  box-shadow: 0 -2px 1px #aa9c8b, 0 -3px 2px #5f513f;
  color: #f9f7f6;
  font-size: 12px;
  text-align: center;
  padding: 12px 20px;
}

footer a {
  color: #f9f7f6;
}

footer a:hover {
  color: #78858d;
}

section h4 {
  text-align: center;
}

.top-bit p {
  text-align: center;
}

.transformation-caption {
  margin: 10px 0 0 0;
  text-align: center;
}

.transformation-img {
  margin: 5px 10% 10px 10%;
  width: 80%;
}

#photoGallery {
  border: 5px solid #5f513f;
  margin: 5px 15% 15px 15%;
  width: 70%;
}

.carousel-control-prev, .carousel-control-next {
  height: 50px;
  opacity: 0.8 !important;
  top: -5px;
  width: 30px !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2378858d' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2378858d' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-item h6 {
  background: #aa9c8b;
  border-bottom: 4px solid #5f513f;
  font-weight: 600;
  margin: 0;
  padding: 10px 35px;
  text-align: justify;
}
